/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #22222280;
    background-alt: #282839FF;
    foreground:     #D9E0EEFF;
    selected:       #00000033;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
